            <footer class="mdc-layout-grid mdc-layout-grid--align-center">
                <div align="center" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <img alt="Simply Lowcountry logo." class="slrelogo" src="../assets/photos/logos/WebsiteBanner.png">
                    <p class="mdc-typography--body1 app-p">
                        <a href="{{ site.url }}/areas/kiawah-island">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons">home</span>
                                <span class="mdc-tab__text-label">Kiawah</span>
                            </span>
                        </a>
                        
                </div>
                <div align="center" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <img alt="Realtor Logo" class="logo" src="../assets/photos/logos/realtorlogo.jpg">
                    <img alt="Fair Housing Logo" class="logo" src="../assets/photos/logos/fairhousinglogo.jpg">
                    <img alot="Boulevard Logo" class="logo" src="../assets/photos/logos/boulevard_logo.png">
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <p class="mdc-typography--body1"> Copyright Simply Lowcountry 2020 all rights reserved. Simply Lowcountry is a real estate team at the Boulevard Co. Our office is located at: 806 Johnnie Dodds Blvd, Mt Pleasant, SC 29464.<a href="{{ site.url }}/privacy">Privacy Policy</a>.</p>
                </div>
            </footer>
