@import "{{ site.theme }}";

header.mdc-layout-grid.mdc-layout-grid--align-center {
    padding-bottom:10px;
}

#main-pic {
    max-width: 800px;
}

main {
    max-width:800px;
}

main.mdc-layout-grid.mdc-layout-grid--align-center {
    padding-top:0px;
}

section.mdc-layout-grid.mdc-layout-grid--align-center {
    padding-top:10px;
    padding-bottom:10px;
}

footer {
    max-width: 800px;
    text-align: center;
}

p.subtitle{
    text-align: center;
}

.address {
    text-align: center;
}

/* Element Styles */

img {
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
}

.blog-image {
    margin-top: 5px;
}

button.blog-button {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 30px;

}

.material-icons {
    font-size: 40px;
    padding-left:4px;
}

.logo {
    width: auto;
    height:50px;
    padding: 10px;
    display: inline-block;
}
.mdc-tab {
    height: 48px;
    width: 100%;
    }

.chart {
    width: 100%; 
    min-height: 450px;
  }

.chart-data {
    width: 320px;
    height: 320px;
    display: block;
    margin-left:auto;
}
.row {
    margin:0 !important;
  }

  ul {
    padding: 0px;
    text-align: center;
}

li {
    display: block;
    padding-bottom:20px;
    padding:10px;
}

#p1{
    margin-top:0px;
}

.slrelogo {
    width: 310px;
    height: auto;
}

.app-image{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 10px;
}

.app-p{
    text-align:center;
}

iframe {
    border: none;
}

.menu {
    width:100px;
}
  
/* Typography Styles */

.mdc-typography--headline2.website-name {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}

h2.mdc-typography--headline2 {
    font-family: 'Bad Script', cursive;
}

h3.mdc-typography--headline3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
}

h4.mdc-typography--headline4 {
    font-family: 'Bad Script', cursive;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
}

h5.mdc-typography--headline5{
    font-family: 'Bad Script', cursive;
    text-align:center;
}

  

