@import "{{ site.theme }}";

header.mdc-layout-grid.mdc-layout-grid--align-center {
    padding-bottom:10px;
}

#main-pic {
    max-width: 800px;
}

main {
    max-width:800px;
}

main.mdc-layout-grid.mdc-layout-grid--align-center {
    padding-top:0px;
}

section.mdc-layout-grid.mdc-layout-grid--align-center {
    padding-top:10px;
    padding-bottom:10px;
}

footer {
    max-width: 800px;
    text-align: center;
}


.mdc-typography--headline2.website-name {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}

p.subtitle{
    text-align: center;
}

.address {
    text-align: center;
}

h2.mdc-typography--headline2 {
    font-family: 'Bad Script', cursive;
    
}

h3.mdc-typography--headline3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:5px;
    margin-bottom:15px;
}

h4.mdc-typography--headline4 {
    font-family: 'Bad Script', cursive;
    text-align:center;
    margin-top:5px;
    margin-bottom:5px;
}

h5.mdc-typography--headline5{
    font-family: 'Bad Script', cursive;
    text-align:center;
    margin-top:5px;
    margin-bottom:5px;
}

/* Element Styles */

img {
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
}

.blog-image {
    margin-top: 5px;
}

button.blog-button {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 30px;

}

.material-icons {
    font-size: 40px;
    padding-left:4px;
}

.logo {
    width: auto;
    height:50px;
    padding: 10px;
    display: inline-block;
}
.mdc-tab {
    height: 48px;
    width: 100%;
    }

.chart {
    width: 100%; 
    min-height: 450px;
  }

.chart-data {
    width: 320px;
    height: 320px;
    display: block;
    margin-left:auto;
}
.row {
    margin:0 !important;
  }

  ul {
    padding: 0px;
    text-align: center;
}

li {
    display: block;
    padding-bottom:20px;
    padding:10px;
}

#p1{
    margin-top:0px;
}

.slrelogo {
    width: 310px;
    height: auto;
}

.app-image{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.app-p{
    text-align:center;
}

iframe {
    border: none;
}

.menu {
    width:100px;
}
  
/* Typography Styles */



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  

