---
layout: default
---

<main class="mdc-layout-grid mdc-layout-grid--align-center">
    <section class="mdc-layout-grid mdc-layout-grid--align-center">
        <h4 class="mdc-typography--headline4">Charleston, SC Real Estate Search</h4>
        <p class="mdc-typography--body1 app-p">There are multiple ways to search for real estate in Charleston, SC. You can download our app, search for property on our website, or sign up to receive a daily list of properties in your inbox.</p>
        <h4 class="mdc-typography--headline4">The Flexmls App</h4>
        <img src="../assets/photos/app-photos/Charleston SC MLS App.jpg" alt="Charleston SC MLS App" class="app-image"> </img>
        <p class ="mdc-typography--body1 app-p">The best way to search for Charleston real estate is via the Flexmls app because it updates the listing information in real time. You can set it up by following the below steps:</p>
        <h5 class="mdc-typography--headline5">Step 1: Create an Account</h5>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <button class="mdc-button mdc-button--raised blog-button" onclick="window.location.href = 'https://apps.flexmls.com/ticket?portal_slug=robstreet';">
                <div class="mdc-button__ripple"></div>
                <i class="material-icons mdc-button__icon" aria-hidden="true"
                    >account_circle</i>
                <span class="mdc-button__label">Create Account</span>
            </button>
        </div>
        <h5 class="mdc-typography--headline5">Step 2: Download the app from the app store.</h5>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <button class="mdc-button mdc-button--raised blog-button" onclick="window.location.href = 'https://apps.apple.com/us/app/flexmls/id1031975953';">
                <div class="mdc-button__ripple"></div>
                <i class="material-icons mdc-button__icon" aria-hidden="true"
                    >get_app</i
                >
                <span class="mdc-button__label">iOS Download</span>
            </button>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <button class="mdc-button mdc-button--raised blog-button" onclick="window.location.href = 'https://play.google.com/store/apps/details?id=com.fbsdata.consumer';">
                <div class="mdc-button__ripple"></div>
                <i class="material-icons mdc-button__icon" aria-hidden="true"
                    >get_app</i>
                <span class="mdc-button__label">Android Download</span>
            </button>
        </div>
    </section>
    <section class="mdc-layout-grid mdc-layout-grid--align-center">
        <h4 class="mdc-typography--headline4">The nightly listings email</h4>
        <p class ="mdc-typography--body1 app-p"> If you prefer, we can set you up on a nightly automatic email that sends you our market's lastest listings.</p>
        <button class="mdc-button mdc-button--raised blog-button" onclick="window.location.href = 'mailto:rob@simplylowcountry.com?subject=Nightly Listings Request';">
            <div class="mdc-button__ripple"></div>
            <i class="material-icons mdc-button__icon" aria-hidden="true"
                >email</i>
            <span class="mdc-button__label">Request Nightly Listings Email</span>
        </button>   
    </section>
    </main>